<?xml version="1.0"?>
<launch>
  	<arg name="mav_name" default="iris"/>
	<arg name="drone_name" default="$(arg mav_name)"/>  
	<arg name="roboID" default="0"/>

	<arg name="is_input_joystick" default="false"/>
	<arg name="enable_meshes" default="true"/>
	<arg name="enable_wind" default="true"/>
	<arg name="enable_physics" default="true"/>
	<arg name="enable_sensors" default="true"/>
	<arg name="enable_logging" default="false" />
	<arg name="enable_ground_truth" default="true" />
	<arg name="enable_mavlink_interface" default="false"/>

	<arg name="world_name" default="basic"/>
	<arg name="debug" default="false"/>
	<arg name="gui" default="true"/>
	<arg name="paused" default="false"/>
	<arg name="log_file" default="$(arg mav_name)_$(arg drone_name)"/>
	<arg name="wait_to_record_bag" default="false"/>
	<arg name="verbose" default="true"/>

    <param name="use_sim_time" value="true"/>



	<arg name="X" default="0.0"/>
	<arg name="Y" default="0.0"/>
	<arg name="Z" default="2.0"/>

	<env name="GAZEBO_MODEL_PATH" value="${GAZEBO_MODEL_PATH}:$(find rotors_gazebo)/models"/>
	<env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:$(find rotors_gazebo)/models"/>
	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find training_q_learning)/worlds/$(arg world_name).world" />
		<arg name="debug" value="$(arg debug)" />
		<arg name="paused" value="$(arg paused)" />
		<arg name="gui" value="$(arg gui)" />
		<arg name="verbose" value="$(arg verbose)"/>
	</include> 

	
	<group ns="$(arg drone_name)">
		<include file="$(find training_q_learning)/launch/drone_only_gcshitl.launch">
			<arg name="mav_name" value="$( arg mav_name )"/>
			<arg name="drone_name" value="$(arg drone_name)"/>
			<arg name="roboID" value="$( arg roboID )"/>

			<arg name="is_input_joystick" value="$( arg is_input_joystick )"/>
			<arg name="enable_meshes" value="$( arg enable_meshes )"/>
			<arg name="enable_wind" value="$( arg enable_wind )"/>
			<arg name="enable_physics" value="$( arg enable_physics )"/>
			<arg name="enable_sensors" value="$( arg enable_sensors )"/>
			<arg name="enable_logging" value="$( arg enable_logging )" />
			<arg name="enable_ground_truth" value="$( arg enable_ground_truth )" />
			<arg name="enable_mavlink_interface" value="$( arg enable_mavlink_interface )"/>

			<arg name="world_name" value="$( arg world_name )"/>
			<arg name="debug" value="$( arg debug )"/>
			<arg name="gui" value="$( arg gui )"/>
			<arg name="paused" value="$( arg paused )"/>
			<arg name="log_file" value="$( arg log_file )"/>
			<arg name="wait_to_record_bag" value="$( arg wait_to_record_bag )"/>
			<arg name="verbose" value="$( arg verbose )"/>
			<arg name="X" value="5.0"/>
			<arg name="Y" value="0.0"/>
			<arg name="Z" value="0.02"/>
		</include> 
	</group>


	<include file="$(find moving_platform_description)/launch/moving_platform_without_env.launch">
	  <arg name = "drone_name" value = "$(arg drone_name)" />
	  <arg name = "trajectory_type" value = "rectiliar_periodic_straight" />
	  <arg name = "trajectory_speed" value = "1.6" />
	  <arg name = "trajectory_frequency" value = "100" />
	  <arg name = "trajectory_radius" value = "2"/>
	  <arg name = "trajectory_start_position/x" value = "0" />
	  <arg name = "trajectory_start_position/y" value = "0" />
	  <arg name = "trajectory_start_position/z" value = "0.0" />
	  <arg name = "trajectory_start_orientation/phi" value = "0" />
	  <arg name = "trajectory_start_orientation/theta" value = "0" />
	  <arg name = "trajectory_start_orientation/psi" value = "0" />
	  <arg name = "trajectory_type_vertical" value = "straight" />
	  <arg name = "trajectory_speed_vertical" value = "0.0" />
	  <arg name = "trajectory_radius_vertical" value = "0.5"/>
	  <arg name = "trajectory_speed_lateral" value = "0.0" />
	  <arg name = "trajectory_radius_lateral" value = "2"/>

	
	</include> 
	

</launch>
